@media (max-width: 536px) {
	.navigation .logo {
		opacity: 0;
    	transition-duration: .1s
	}

	.navbar-expanded .logo {
		opacity: 1;
    	transition-duration: 1s
	}

	.fixed-top .nav-item {
		text-align: center
	}

	.fixed-top .nav-link {
		font-size: 16px
	}

	.fixed-top .fas {
		display: inline-block !important
	}

	.mt-6n {
		margin-top: auto !important
	}

	.header-v6 .main-shape-wrapper {
		display: none
	}

	.pt-0 {
		max-height: none !important
	}

	.btn-rounded span {
		font-size: 10px
	}

	.navigation.navbar-sticky .logo {
		display: block;
	}

	.site-footer {
		padding-bottom: 4rem;
	}
}


@media (min-width: 768px) {
	.d-md-none {
		display: inline-block !important;
	}

	.fixed-top .nav-link {
		font-size: 13px !important;
	}
}

@media (max-width:1024px) {
	.collapse .signin {
		margin-right: 86px
	}

	.fixed-top .d-md-none {
		display: none !important
	}
}

.header-v6 .light {
	font-size: 38px
}

.bg-1.edge.top-left::before {
	background-image: none
}

.swiper-slide .card {
    height: 345px
}

.features-carousel .text-center,
.bg-1.edge.top-left,
.z2 {
    z-index: 2
}

.pt-0 {
    max-height: 450px
}

.btn-circle .fab {
    margin-left: 2.2px;
	font-size: 1rem
}

.rounded-circle h2 {
	color: #fff
}

.rounded-circle h2 {
	margin: 0
}

/*.signup-signin {
    width: 800px;
    max-width: 90vw;
    left: 50%;
    transform: translateX(-50%)
}*/

/*.mfp-with-anim {
    width: 800px;
    max-width: 95vw
}*/

#sponsors, #volunteers, #nko {
	display: block !important
}

main {
	overflow-x: hidden
}

.media-body {
    margin-top: 36px;
    transform: translateY(-50%)
}

.top-left .mt-3 {
    transform: translateY(20%);
}

.swiper-container {
    position: initial !important;
	height: fit-content
}

.header .handwritten {
    margin: 5rem 0 -1rem 0
}


.edge {
    position: inherit !important
}

.lang-btn {
    position: fixed;
    right: 0;
}

.lang-btn img {
    height: 32px;
    border: 2px solid #fdd54c
}

.ml-md-auto {
	margin-right: 1rem
}

.social-icons .btn-circle {
    margin: 0 .5rem !important
}
